/* Header styles */
html,body{
    background-color: #0942B2;
}

.body{
    background-color: #0942B2;
}

html {
    height: 100%;
    background-color:#0942B2;
    font-family: Cambria;
}

#navbar{
    background-color: #1c2222;
    font-family: Cambria;
    color: white;
}

#navbar2{
    background-color: #1c2222;
    font-family: Cambria;
    color: white;
}

#search-bar{
    display:"inline-block";
}

/* Navigation styles */

#input-group-dropdown-1{
    background-color:grey;
    color:white;
}

/* Footer styles */
footer{
    bottom:0;
    width: 100%;
    margin-top: auto;
    background-color: #1c2222;
    background-size: cover;
    font-family: Cambria;
    color:white;
}

.app-div{
    background-color: #0942B2;
}

#footer-container{
    display: flex;
    justify-content: space-around;
}

.login-form{
    color:white;
    width:100%;
    max-width: 330px;
    padding:15px;
    margin:auto;
    height:100%;
    border: 2px solid black;
    border-radius: 20px;
}

.login-div{
    background-color: #0942B2;
    padding-top: 6rem;
    padding-bottom: 6rem;
    min-height: 80vh;
}

#navigation-nav-links.active{
    background-color: #1c2222;
}

#search-container, #search-div{
    background-color: #0942B2;
}

#search-container{
    min-height: 80vh;
}

.popular-movies > .row{
    overflow-x: auto;
    flex-wrap: nowrap;
}

.listItem{
    width: fit-content;
    height: fit-content;
    background-color: white;
    margin-right: 10px;
    position: relative;
    transition: transform 0.2s;
}

.listItem:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.listItem:hover .overlay{
    opacity: 1;
}

.overlay{
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    bottom: 0;
    font-size:large;
    padding: 20px;
    text-align: center;
}

.item:hover .itemInfo{
    transform: scale(1.1);
}

.itemInfo{
    padding-left: 5px;
    padding-right: 5px;
    max-width: 170px;
    background-color: #1c2222;
    font-size: 16px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: transform 0.2s;
}


.icons{
    color:white;
    background-color: #0942B2;
    display: none;
}

.list{
    margin-top: 2rem;
    width: 100%;
    color: white;
    background-color: #0942B2;
}

.list-holiday{
    margin-top: 2rem;
    width: 100%;
    color: white;
    background-color: #0942B2;
    padding-bottom: 2rem;
}

.listTitle{
    font-size: 20px;
    font-weight: 500;
    margin-left: 50px;
}

.containerr{
    margin-left:50px;
    display: flex;
    width: max-content;
    margin-top: 10px;
    /* przesuwanie się pojemnika */
    transform: translateX(0px);
    /* animacja przejścia */
    transition: all 1s ease;
}

.home{
    background-color: #0942B2;
    overflow: hidden;
    min-height: 100vh;
}

/* Jeśli strzałki są w pozycji absolute to kontener-rodzic powinien być w pozycji relative */
.wrapper{
    position: relative;
}

.arrow-back{
    width: 100px;
    height: 100%;
    background-color: rgb(31, 31, 31, 0.5);
    color: white;
    position: absolute;
    left: 0;
    z-index: 99;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    transform: scale(2.5);
}

.arrow-forward{
    width: 50px;
    height: 100%;
    background-color: rgb(31, 31, 31, 0.5);
    color: white;
    position: absolute;
    right: 0;
    z-index: 99;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    transform: scale(2.5);
}

.poster{
    height: 240px;
    width: 170px;
    object-fit: cover;
}

.category-img{
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.category-listItem{
    width: fit-content;
    height: fit-content;
    background-color: white;
    margin-right: 5px;
    overflow: hidden;
    cursor: pointer;
}

.category-itemInfoTop{
    text-align: center;
    color:white;
    background-color: #0942B2;
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow:ellipsis;
    width: 150px;
}

.register-p{
    border: none;
    border-radius: 5px;
    background-color: #121313;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: large;
    padding: 0.5rem 1rem;
    width: fit-content;
}

.register-p:hover{
    color: grey;
}

.header-link:hover{
    color:grey
}

.listTitleFilms{
    font-size: 20px;
    font-weight: 500;
    margin-left: 60px;
    color:white;
}

.filmsPage{
    background-color: #0942B2;
    overflow: hidden;
    min-height: 80vh;
}

.nav-span{
    font-size: large;
}

.form-button-submit{
    border: none;
    border-radius: 5px;
    background-color: #121313;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: large;
    padding: 0.5rem 1rem;
    width: 100%;
}

.form-button-submit:hover{
    background-color: rgb(48, 48, 48);
}

.errors-text{
    font-size: medium;
    font-weight: bold;
    color: rgb(255, 80, 80);
    margin: 0;
    padding: 0;
}

.header-logout{
    color: white;
    font-size: large;
    cursor: pointer;
}

.header-logout:hover{
    color:grey
}

.search-form{
    width: 100%;
}

.loading-span{
    border: none;
    border-radius: 5px;
    background-color: #121313;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: large;
    padding: 0.5rem 1rem;
    width: 100%;
}

.loading-div{
    width: fit-content;
}

.loading-message{
    color: white;
    font-size: large;
    font-family: Cambria;
}

.span-interact{
    font-size: small;
}
